addOns/soap/src/test/resources/org/zaproxy/zap/extension/soap/resources/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main.soaptest.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main.soaptest.org" xmlns:intf="http://main.soaptest.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main.soaptest.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayByeWorld">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayByeWorldResponse">
    <complexType>
     <sequence>
      <element name="sayByeWorldReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloWorld">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloWorldResponse">
    <complexType>
     <sequence>
      <element name="sayHelloWorldReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloWorldRequest">

      <wsdl:part element="impl:sayHelloWorld" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldResponse">

      <wsdl:part element="impl:sayHelloWorldResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayByeWorldRequest">

      <wsdl:part element="impl:sayByeWorld" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayByeWorldResponse">

      <wsdl:part element="impl:sayByeWorldResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebService">

      <wsdl:operation name="sayByeWorld">

         <wsdl:input message="impl:sayByeWorldRequest" name="sayByeWorldRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayByeWorldResponse" name="sayByeWorldResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorld">

         <wsdl:input message="impl:sayHelloWorldRequest" name="sayHelloWorldRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloWorldResponse" name="sayHelloWorldResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServiceSoapBinding" type="impl:WebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayByeWorld">

         <wsdlsoap:operation soapAction="#bye"/>

         <wsdl:input name="sayByeWorldRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayByeWorldResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorld">

         <wsdlsoap:operation soapAction="#hello"/>

         <wsdl:input name="sayHelloWorldRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceService">

      <wsdl:port binding="impl:WebServiceSoapBinding" name="WebService">

         <wsdlsoap:address location="http://localhost:8080/SOAPTest/services/WebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
